
.navbar-light .navbar-brand {
    color: #FFFF;
}
.navbar {
    background-color: #FFFF;
    width: 100%;
    padding: 0;
}
.navbar-brand {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    background: #008080 ;
    padding: 10px;
    margin-left: 1%;
}
.nav-button {
    padding-left: 10px;
    padding-right:10px;
}
/* Navbar: right - Plots (dropdown), Comparison, Data */
.navbar-collapse {
    position: static;
    font-size: 15px;
    margin-right: 2%;
}
/* Main headings - Landing(2), Plots(2 ea), Comparison, Data */
h2 {
    font-family: Georgia, serif;
    font-weight: bolder; 
    color: #008080 ;  
    padding-top: 20px;
    padding-left: 20px;
}

/* Secondary headings - Comparision(4) */
h4 {
    font-family: Georgia, serif;
    font-weight: bolder; 
    color: #008080 ;  
    text-align: center;
}
/* Paragraph format */
p {
    font-size: 16px; 
    padding-left: 20px;
} 

body {
    background: lightgray;
}
/* Main box  - Landing(2), Plots(2 ea), Comparision(4), Data */
.box1 {
    background:#FFFF;
    padding: 10px;
    margin-top: 20px;
}
/* Comparision - Plots(4) */
.col-lg-6 {
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 20px;    
}
.col-sm-4,.col-md-4,.col-lg-4 img {
    width: 150px;
}
.responsive {
    width: 90%;
    height: auto;
    position:relative;
    left: 5%;
    margin-bottom: 5%;
}
