
/* Navbar formatting - "Latitude" white, PCD to the left */
.navbar-light .navbar-brand {
    color: #FFFF;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    background: #008080 ;
    padding: 10px;
    margin-left: 1%;
}
/* Navbar "box" background color and padding */
.navbar {
    background-color: #FFFF;
    padding: 0;
}
/* Navbar: right - Plots (dropdown), Comparison, Data */
.navbar-collapse {
    position: static;
    font-size: 15px;
    padding-right: 1%;
    background-color: #FFFF;
}
.nav-item a:hover {
    background-color: lightgray;
}

/* Body background color */
body {
    background: lightgray;
}
/* Main headings - Landing(2), Plots(2 ea), Comparison, Data */
h2 {
    font-family: Georgia, serif;
    font-weight: bolder; 
    color: #008080 ;  
    padding-top: 20px;
    padding-left: 20px;
}
/* Secondary headings - Comparision(4) */
h4 {
    font-family: Georgia, serif;
    font-weight: bolder; 
    color: #008080 ;  
    text-align: center;
}
/* Paragraph format */
p {
    font-size: 18px; 
    padding-left: 20px;
    margin: 20px 20px 20px 20px;
} 

/* Main box  - Landing(2), Plots(2 ea), Comparision(4), Data */
.box1 {
    background:#FFFF;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
}
/* Comparision - Plots(4) */
.col-lg-6 {
    padding-top: 10px; 
    padding-bottom: 10px;    
}
/* Format images */
.img {
    max-width: 100%;
}
/* Visualization pages - left box */
.md-plot {
    max-width: 100%;
}
/* Format images - Visualizations */
.sm-plot {
    max-width: 50%;
}
.row4 {
    display: inherit;
    margin: 0px -20px 0px -20px;
    padding: 1px;
}
/* Teal border when hover - Landing, Visualizations, Comparison(4) */
.select:hover {
    border-style: solid;
    border-color: #008080;
}

/* Media Queries */
@media(max-width: 992px) {
/* Small screen set backgroud color to teal */
.navbar {
    background-color: #008080;
}
.navbar button {
    margin-right : 20px;
}
}